html, body, div, span, applet, object, h1, h2, h3, h4, h5, h6, p, a, img, ol, ul, li, form, label, table, embed, footer, header, menu, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

footer, header, section {
  display: block; }

*, *:before, *:after {
  box-sizing: border-box; }

body {
  font-family: 'Helvetica';
  background-color: papayawhip;
  color: red;
}

.wrapper {
  min-width: 1200px;
  width: 80%;
  margin: 0 auto;
  min-height: 60vh;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header, .previousSelections {
  background-color: rgb(255, 182, 193);
  padding: 30px 15px; 
}

h1 {
  text-align: center;
  font-size: 70px;
  font-weight: 600;
  margin-bottom: 25px;
}

img {
  max-width: 100%;
}

h2 {
  text-align: center;
  font-size: 45px;
  font-weight: bold;
}

h3 {
  font-size: 25px;
}

h2, h3 {
  margin-bottom: 15px;
}

p {
  line-height: 1.5; 
}


ul{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

form{
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

input[type=text]{
  color: red;
  padding: 10px;
  margin-right: 20px;
  margin-left: 10px;
  font-size: 20px;
  border: none;
  box-shadow:
        0 0 2px 3px rgb(255, 182, 193),
        2px 2px 2px 3px red;
}

input[type=submit]{
  color: red;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
  background-color: peachpuff;
  border: none;
  box-shadow:
        0 0 2px 3px rgb(255, 182, 193),
        2px 2px 2px 3px red;
  margin-right: 20px;
  margin-left: 10px;
}

label{
  font-size: 25px;
  font-weight: bold;
}

button{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  font-size: 20px;
  background-color: peachpuff;
  border: none;
  margin-right: 10px;
  box-shadow:
        0 0 2px 3px rgb(255, 182, 193),
        2px 2px 2px 3px red;
}

.spriteView{
  text-align: center;
  height: 200px;
}

.sprites{
  width: 200px;
}

footer{
  margin-top: 50px;
  background-color: rgb(255, 182, 193);
  padding-top: 75px;
  text-align: center;
  padding-bottom: 75px;
}

li{
  box-shadow:
        0 0 1px 1px rgb(255, 182, 193),
        1px 1px 1px 1px red;
  text-align: center;
  height: 50px;
  line-height: 50px;
  background-color: rgb(253, 221, 226);
}